.hero
    // padding-top: 50px 0
    background: $secondary
    &-block
        display: flex
    &-text
        flex-basis: 90%
        padding: 50px 0
        &__title
            font-size: 41px
            line-height: 55px
            margin-bottom: 35px
            +bold
        &__subtitle
            display: inline-block
            font-size: 20px
            margin-bottom: 70px
            +bold
    &-list
        margin: 0
        padding: 0
        &__item
            display: flex
            align-items: center
            margin-bottom: 31px
            &:list-child
                margin-bottom: 0
        &__image
            flex-basis: 38px
            min-width: 38px
            height: 38px
            border: 2px solid $main-color
            display: flex
            align-items: center
            justify-content: center
            border-radius: 50%
            margin-right: 30px
        &__text
            max-width: 300px
            font-size: 14px
            line-height: 24px
    &-image
        width: 100%
        align-self: center
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05)
@media (max-width: 1200px)
    .hero
        &-block
            flex-direction: column
        &-list
            margin-bottom: 44px
        &-text
            padding-right: 10px
@media (max-width: 768px)
    .hero
        &-text
            &__title
                font-size: 24px
                line-height: 1.4
                margin-bottom: 0
            &__subtitle
                font-size: 16px
                margin-bottom: 20px
                line-height: normal
        &-list
            &__item
                margin-bottom: 20px
            &__text
                font-size: 12px
            &__image
                margin-right: 15px
        &-image 
            width: 100%